.App {
  text-align: center;
  background-color: #333;
  color: white;
  min-height: 100cvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #222;
  padding: 20px 0;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-remaining, .predicted-date, .blocks-remaining, .bitcoin-price {
  background-color: #2e2e2e;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  min-width: 30vw;
}

strong {
  display: block;
  margin: 10px 0;
  color: #52b957;
  font-size: 30px;
}

.live-indicator {
  background-color: #52b957;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  top: -1px;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.subHeader {
  color: #adadad;
}